{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dapp Demo</title>
  <script src="{% static 'web/js/qrcode.min.js' %}"></script>
  <script src="{% static 'web/js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'web/js/hep.js' %}"></script>
  <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'web/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet" />
</head>
<body>
  {% block content %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>