{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row login-row" style="margin-top: 200px">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 ">
            <button id="bt-login" class="btn btn-primary btn-lg login-btn" onclick="login()">使用NewPay登录</button>
        </div>
    </div>
    <div class="row login-h5-row" style="margin-top: 200px">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
            <button id="bt-login-h5" class="btn btn-primary btn-lg login-btn" onclick="h5login()">h5Login</button>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
  <script type="text/javascript">
    checkAgent();
    function login() {
        location.href = "/user/login";
    }
    function checkAgent() {
        let agent = navigator.userAgent;
        if(agent.indexOf("NewPay") > -1) {
            $("#bt-login").hide();
            $("#bt-login-h5").show();
        } else {
            $("#bt-login").show();
            $("#bt-login-h5").hide();
        }
    }
  </script>
{% endblock %}